.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.box {
  height: 100px;
  width: 100px;
  border: 15px solid rgb(143, 162, 182);
  border-top-color: rgb(19, 146, 146);
  animation: spin 1s linear infinite;
  border-radius: 50%;
}
.text {
  font-weight: bold;
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
